.dark {
  --md-sys-color-primary: rgb(143 213 175);
  --md-sys-color-surface-tint: rgb(143 213 175);
  --md-sys-color-on-primary: rgb(0 56 35);
  --md-sys-color-primary-container: rgb(0 82 53);
  --md-sys-color-on-primary-container: rgb(171 242 202);
  --md-sys-color-secondary: rgb(180 204 188);
  --md-sys-color-on-secondary: rgb(32 53 41);
  --md-sys-color-secondary-container: rgb(54 75 63);
  --md-sys-color-on-secondary-container: rgb(208 232 215);
  --md-sys-color-tertiary: rgb(164 205 221);
  --md-sys-color-on-tertiary: rgb(5 53 66);
  --md-sys-color-tertiary-container: rgb(35 76 90);
  --md-sys-color-on-tertiary-container: rgb(192 233 250);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(222 228 222);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(192 201 193);
  --md-sys-color-outline: rgb(138 147 140);
  --md-sys-color-outline-variant: rgb(64 73 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(44 50 46);
  --md-sys-color-inverse-primary: rgb(36 106 75);
  --md-sys-color-primary-fixed: rgb(171 242 202);
  --md-sys-color-on-primary-fixed: rgb(0 33 19);
  --md-sys-color-primary-fixed-dim: rgb(143 213 175);
  --md-sys-color-on-primary-fixed-variant: rgb(0 82 53);
  --md-sys-color-secondary-fixed: rgb(208 232 215);
  --md-sys-color-on-secondary-fixed: rgb(11 31 21);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
  --md-sys-color-tertiary-fixed: rgb(192 233 250);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
  --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
  --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 90);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(53 59 54);
  --md-sys-color-surface-container-lowest: rgb(10 15 12);
  --md-sys-color-surface-container-low: rgb(23 29 25);
  --md-sys-color-surface-container: rgb(27 33 29);
  --md-sys-color-surface-container-high: rgb(38 43 39);
  --md-sys-color-surface-container-highest: rgb(48 54 50);
}