.dark-high-contrast {
  --md-sys-color-primary: rgb(187 255 216);
  --md-sys-color-surface-tint: rgb(143 213 175);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(140 209 171);
  --md-sys-color-on-primary-container: rgb(0 14 6);
  --md-sys-color-secondary: rgb(221 246 229);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(176 200 184);
  --md-sys-color-on-secondary-container: rgb(0 14 6);
  --md-sys-color-tertiary: rgb(219 244 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(160 201 217);
  --md-sys-color-on-tertiary-container: rgb(0 13 19);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(233 242 234);
  --md-sys-color-outline-variant: rgb(188 197 189);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 83 54);
  --md-sys-color-primary-fixed: rgb(171 242 202);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(143 213 175);
  --md-sys-color-on-primary-fixed-variant: rgb(0 21 10);
  --md-sys-color-secondary-fixed: rgb(208 232 215);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(2 21 11);
  --md-sys-color-tertiary-fixed: rgb(192 233 250);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 20 27);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(76 81 77);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(27 33 29);
  --md-sys-color-surface-container: rgb(44 50 46);
  --md-sys-color-surface-container-high: rgb(55 61 57);
  --md-sys-color-surface-container-highest: rgb(66 72 68);
}
