.light {
  --md-sys-color-primary: rgb(36 106 75);
  --md-sys-color-surface-tint: rgb(36 106 75);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(171 242 202);
  --md-sys-color-on-primary-container: rgb(0 82 53);
  --md-sys-color-secondary: rgb(77 99 86);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(208 232 215);
  --md-sys-color-on-secondary-container: rgb(54 75 63);
  --md-sys-color-tertiary: rgb(60 100 114);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(192 233 250);
  --md-sys-color-on-tertiary-container: rgb(35 76 90);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 251 244);
  --md-sys-color-on-background: rgb(23 29 25);
  --md-sys-color-surface: rgb(245 251 244);
  --md-sys-color-on-surface: rgb(23 29 25);
  --md-sys-color-surface-variant: rgb(220 229 220);
  --md-sys-color-on-surface-variant: rgb(64 73 67);
  --md-sys-color-outline: rgb(112 121 114);
  --md-sys-color-outline-variant: rgb(192 201 193);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 46);
  --md-sys-color-inverse-on-surface: rgb(237 242 236);
  --md-sys-color-inverse-primary: rgb(143 213 175);
  --md-sys-color-primary-fixed: rgb(171 242 202);
  --md-sys-color-on-primary-fixed: rgb(0 33 19);
  --md-sys-color-primary-fixed-dim: rgb(143 213 175);
  --md-sys-color-on-primary-fixed-variant: rgb(0 82 53);
  --md-sys-color-secondary-fixed: rgb(208 232 215);
  --md-sys-color-on-secondary-fixed: rgb(11 31 21);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(54 75 63);
  --md-sys-color-tertiary-fixed: rgb(192 233 250);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 40);
  --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
  --md-sys-color-on-tertiary-fixed-variant: rgb(35 76 90);
  --md-sys-color-surface-dim: rgb(214 219 213);
  --md-sys-color-surface-bright: rgb(245 251 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 245 239);
  --md-sys-color-surface-container: rgb(234 239 233);
  --md-sys-color-surface-container-high: rgb(228 234 227);
  --md-sys-color-surface-container-highest: rgb(222 228 222);
}
