.dark-mid-contrast {
  --md-sys-color-primary: rgb(165 236 196);
  --md-sys-color-surface-tint: rgb(143 213 175);
  --md-sys-color-on-primary: rgb(0 44 27);
  --md-sys-color-primary-container: rgb(90 158 123);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(202 226 209);
  --md-sys-color-on-secondary: rgb(21 42 31);
  --md-sys-color-secondary-container: rgb(127 150 135);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(186 227 244);
  --md-sys-color-on-tertiary: rgb(0 42 53);
  --md-sys-color-tertiary-container: rgb(111 151 166);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(222 228 222);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(64 73 67);
  --md-sys-color-on-surface-variant: rgb(214 223 214);
  --md-sys-color-outline: rgb(171 180 172);
  --md-sys-color-outline-variant: rgb(138 147 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 222);
  --md-sys-color-inverse-on-surface: rgb(38 43 39);
  --md-sys-color-inverse-primary: rgb(0 83 54);
  --md-sys-color-primary-fixed: rgb(171 242 202);
  --md-sys-color-on-primary-fixed: rgb(0 21 10);
  --md-sys-color-primary-fixed-dim: rgb(143 213 175);
  --md-sys-color-on-primary-fixed-variant: rgb(0 63 40);
  --md-sys-color-secondary-fixed: rgb(208 232 215);
  --md-sys-color-on-secondary-fixed: rgb(2 21 11);
  --md-sys-color-secondary-fixed-dim: rgb(180 204 188);
  --md-sys-color-on-secondary-fixed-variant: rgb(38 59 47);
  --md-sys-color-tertiary-fixed: rgb(192 233 250);
  --md-sys-color-on-tertiary-fixed: rgb(0 20 27);
  --md-sys-color-tertiary-fixed-dim: rgb(164 205 221);
  --md-sys-color-on-tertiary-fixed-variant: rgb(14 59 72);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(64 70 65);
  --md-sys-color-surface-container-lowest: rgb(4 8 6);
  --md-sys-color-surface-container-low: rgb(25 31 27);
  --md-sys-color-surface-container: rgb(36 41 37);
  --md-sys-color-surface-container-high: rgb(46 52 48);
  --md-sys-color-surface-container-highest: rgb(57 63 59);
  --md-sys-color-some-color: rgb(1 2 3);
}